@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MatDaily</h1>
    <p class="lead">Welcome to our page</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h1>This is our first project in ASP.net MVC</h1>
</div>